# SPDX-FileCopyrightText: 2023 - 2024 Slavi Pantaleev
# SPDX-FileCopyrightText: 2025 Suguru Hirahara
#
# SPDX-License-Identifier: AGPL-3.0-or-later

---
- name: Check existence of Woodpecker CI server systemd service
  ansible.builtin.stat:
    path: "{{ devture_systemd_docker_base_systemd_path }}/{{ woodpecker_ci_server_identifier }}.service"
  register: woodpecker_ci_server_service_stat

- name: Uninstall Woodpecker CI server systemd services and files
  when: woodpecker_ci_server_service_stat.stat.exists | bool
  block:
    - name: Ensure Woodpecker CI server systemd service is stopped
      ansible.builtin.service:
        name: "{{ woodpecker_ci_server_identifier }}"
        state: stopped
        enabled: false
        daemon_reload: true

    - name: Ensure Woodpecker CI server systemd service does not exist
      ansible.builtin.file:
        path: "{{ devture_systemd_docker_base_systemd_path }}/{{ woodpecker_ci_server_identifier }}.service"
        state: absent

    - name: Ensure Woodpecker CI server support files do not exist
      ansible.builtin.file:
        path: "{{  woodpecker_ci_server_base_path }}/{{ item }}"
        state: absent
      with_items:
        - env
        - labels

    - name: Ensure Woodpecker CI server local data path does not exist if empty
      ansible.builtin.command:
        cmd: "rmdir {{ woodpecker_ci_server_data_path }}"
      register: woodpecker_ci_server_data_path_deletion_result
      changed_when: woodpecker_ci_server_data_path_deletion_result.rc == 0
      failed_when: false

    - name: Ensure Woodpecker CI server base path does not exist if empty
      ansible.builtin.command:
        cmd: "rmdir {{ woodpecker_ci_server_base_path }}"
      register: woodpecker_ci_server_base_path_deletion_result
      changed_when: woodpecker_ci_server_base_path_deletion_result.rc == 0
      failed_when: false

    - name: Ensure Woodpecker CI server container network does not exist via community.docker.docker_network
      when: devture_systemd_docker_base_container_network_creation_method == 'ansible-module'
      community.docker.docker_network:
        name: "{{ woodpecker_ci_server_container_network }}"
        state: absent
      register: woodpecker_ci_server_network_deletion_result

    - name: Ensure Woodpecker CI server container network does not exist via ansible.builtin.command
      when: devture_systemd_docker_base_container_network_creation_method == 'command'
      ansible.builtin.command:
        cmd: >-
          {{ devture_systemd_docker_base_host_command_docker }} network rm
          {{ woodpecker_ci_server_container_network }}
      register: woodpecker_ci_server_network_deletion_result
      changed_when: woodpecker_ci_server_container_network in woodpecker_ci_server_network_deletion_result.stdout

- name: Check existence of Woodpecker CI server local data path
  ansible.builtin.stat:
    path: "{{ woodpecker_ci_server_data_path }}"
  register: woodpecker_ci_server_data_path_stat

# We just want to notify the user. Deleting data is too destructive.
- name: Notify if Woodpecker CI server local data remains
  when: woodpecker_ci_server_data_path_stat.stat.exists | bool
  ansible.builtin.set_fact:
    devture_playbook_runtime_messages_list: |
      {{
        devture_playbook_runtime_messages_list | default([])
        +
        [
          "Note: As the local Woodpecker CI server instance has been removed, some old data remains in `" + woodpecker_ci_server_data_path + "`. Feel free to delete it."
        ]
      }}
