{#
SPDX-FileCopyrightText: 2022 - 2024 Slavi Pantaleev
SPDX-FileCopyrightText: 2024 Nikita Chernyi
SPDX-FileCopyrightText: 2025 Suguru Hirahara

SPDX-License-Identifier: AGPL-3.0-or-later
#}

[Unit]
Description=Woodpecker CI server
{% for service in woodpecker_ci_server_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
{% for service in woodpecker_ci_server_systemd_wanted_services_list %}
Wants={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ devture_systemd_docker_base_systemd_unit_home_path }}"
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop -t {{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ woodpecker_ci_server_identifier }} 2>/dev/null'
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ woodpecker_ci_server_identifier }} 2>/dev/null'

ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} create \
      --rm \
      --name={{ woodpecker_ci_server_identifier }} \
      --log-driver=none \
      --user={{ woodpecker_ci_server_uid }}:{{ woodpecker_ci_server_gid }} \
      --cap-drop=ALL \
      --read-only \
      --network={{ woodpecker_ci_server_container_network }} \
      {% if woodpecker_ci_server_http_bind_port != '' %}
      -p {{ woodpecker_ci_server_http_bind_port }}:80 \
      {% endif %}
      {% if woodpecker_ci_server_https_bind_port != '' %}
      -p {{ woodpecker_ci_server_https_bind_port }}:443 \
      {% endif %}
      {% if woodpecker_ci_server_container_add_host_domain_name %}
      --add-host {{ woodpecker_ci_server_container_add_host_domain_name }}:{{ woodpecker_ci_server_container_add_host_ip_address }} \
      {% endif %}
      --env-file={{ woodpecker_ci_server_base_path }}/env \
      --label-file={{ woodpecker_ci_server_base_path }}/labels \
      --mount type=bind,src={{ woodpecker_ci_server_data_path }},dst=/data \
      --tmpfs=/tmp:rw,noexec,nosuid,size=128m \
      {% for arg in woodpecker_ci_server_container_extra_arguments %}
      {{ arg }} \
      {% endfor %}
      {{ woodpecker_ci_server_container_image }}

{% for network in woodpecker_ci_server_container_additional_networks %}
ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} network connect {{ network }} {{ woodpecker_ci_server_identifier }}
{% endfor %}

ExecStart={{ devture_systemd_docker_base_host_command_docker }} start --attach {{ woodpecker_ci_server_identifier }}

ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop -t {{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ woodpecker_ci_server_identifier }} 2>/dev/null'
ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ woodpecker_ci_server_identifier }} 2>/dev/null'

Restart=always
RestartSec=30
SyslogIdentifier={{ woodpecker_ci_server_identifier }}

[Install]
WantedBy=multi-user.target
