{#
SPDX-FileCopyrightText: 2022 - 2024 Slavi Pantaleev
SPDX-FileCopyrightText: 2024 Sergio Durigan Junior

SPDX-License-Identifier: AGPL-3.0-or-later
#}

{% if woodpecker_ci_server_container_labels_traefik_enabled %}
traefik.enable=true

{% if woodpecker_ci_server_container_labels_traefik_docker_network %}
traefik.docker.network={{ woodpecker_ci_server_container_labels_traefik_docker_network }}
{% endif %}

{% set middlewares = [] %}

{% if woodpecker_ci_server_container_labels_traefik_compression_middleware_enabled %}
{% set middlewares = middlewares + [woodpecker_ci_server_container_labels_traefik_compression_middleware_name] %}
{% endif %}

{% if woodpecker_ci_server_container_labels_traefik_path_prefix != '/' %}
traefik.http.middlewares.{{ woodpecker_ci_server_identifier }}-slashless-redirect.redirectregex.regex=({{ woodpecker_ci_server_container_labels_traefik_path_prefix | quote }})$
traefik.http.middlewares.{{ woodpecker_ci_server_identifier }}-slashless-redirect.redirectregex.replacement=${1}/
{% set middlewares = middlewares + [woodpecker_ci_server_identifier + '-slashless-redirect'] %}
{% endif %}

{% if woodpecker_ci_server_container_labels_traefik_additional_response_headers.keys() | length > 0 %}
{% for name, value in woodpecker_ci_server_container_labels_traefik_additional_response_headers.items() %}
traefik.http.middlewares.{{ woodpecker_ci_server_identifier }}-add-headers.headers.customresponseheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [woodpecker_ci_server_identifier + '-add-headers'] %}
{% endif %}

traefik.http.routers.{{ woodpecker_ci_server_identifier }}.rule={{ woodpecker_ci_server_container_labels_traefik_rule }}
{% if woodpecker_ci_server_container_labels_traefik_priority | int > 0 %}
traefik.http.routers.{{ woodpecker_ci_server_identifier }}.priority={{ woodpecker_ci_server_container_labels_traefik_priority }}
{% endif %}
traefik.http.routers.{{ woodpecker_ci_server_identifier }}.service={{ woodpecker_ci_server_identifier }}
{% if middlewares | length > 0 %}
traefik.http.routers.{{ woodpecker_ci_server_identifier }}.middlewares={{ middlewares | join(',') }}
{% endif %}
traefik.http.routers.{{ woodpecker_ci_server_identifier }}.entrypoints={{ woodpecker_ci_server_container_labels_traefik_entrypoints }}
traefik.http.routers.{{ woodpecker_ci_server_identifier }}.tls={{ woodpecker_ci_server_container_labels_traefik_tls | to_json }}
{% if woodpecker_ci_server_container_labels_traefik_tls %}
traefik.http.routers.{{ woodpecker_ci_server_identifier }}.tls.certResolver={{ woodpecker_ci_server_container_labels_traefik_tls_certResolver }}
{% endif %}

traefik.http.services.{{ woodpecker_ci_server_identifier }}.loadbalancer.server.port=8000

{% if woodpecker_ci_server_container_labels_traefik_grpc_enabled %}
# gRPC
traefik.http.routers.{{ woodpecker_ci_server_identifier }}-grpc.rule={{ woodpecker_ci_server_container_labels_traefik_grpc_rule }}
{% if woodpecker_ci_server_container_labels_traefik_grpc_priority | int > 0 %}
traefik.http.routers.{{ woodpecker_ci_server_identifier }}-grpc.priority={{ woodpecker_ci_server_container_labels_traefik_grpc_priority }}
{% endif %}
traefik.http.routers.{{ woodpecker_ci_server_identifier }}-grpc.service={{ woodpecker_ci_server_identifier }}-grpc
traefik.http.routers.{{ woodpecker_ci_server_identifier }}-grpc.entrypoints={{ woodpecker_ci_server_container_labels_traefik_grpc_entrypoints }}
traefik.http.routers.{{ woodpecker_ci_server_identifier }}-grpc.tls={{ woodpecker_ci_server_container_labels_traefik_grpc_tls | to_json }}
{% if woodpecker_ci_server_container_labels_traefik_grpc_tls %}
traefik.http.routers.{{ woodpecker_ci_server_identifier }}-grpc.tls.certResolver={{ woodpecker_ci_server_container_labels_traefik_grpc_tls_certResolver }}
{% endif %}

traefik.http.services.{{ woodpecker_ci_server_identifier }}-grpc.loadbalancer.server.port={{ woodpecker_ci_server_config_grpc_addr_port }}
traefik.http.services.{{ woodpecker_ci_server_identifier }}-grpc.loadbalancer.server.scheme=h2c
{% endif %}

{% endif %}

{{ woodpecker_ci_server_container_labels_additional_labels }}
